.form {
  display: grid;
}

.label {
  font-size: 1.2em;
  margin-bottom: 4px;
  text-transform: uppercase;
}

.input,
.button {
  border-radius: 1.25rem;
}

.input {
  border: thin solid #ddd;
  font-size: 1.6em;
  line-height: 2.8rem;
  margin-bottom: 1rem;
  padding: 0.5rem 2rem;
}

.button {
  background-color: rgba(0, 0, 0, 0.75);
  border: thin solid rgba(0, 0, 0, 0.75);
  color: white;
  cursor: pointer;
  font-size: 1.4rem;
  padding: 1rem 2rem;
  transition: background-color 250ms;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.85);
}

@media (min-width:786px){
    .form {
        align-items: center;
        grid-gap: 1rem;
        grid-template-columns: auto 1fr auto;
    }
    
    .input {
        margin-bottom: 0;
    }
}